* { margin:0; padding:0; box-sizing:border-box; }
header {
	border: 1px black solid;
	padding: 20px;
}
nav {
	display: block;
	padding: 10px;
	color: white;
	background-color: #FF6347;
	font-size: 16px;
	font-family: Tahoma, sans-serif;
	text-align: center;
	list-style-type: none;
	margin: 0 auto;
	padding: 10px;
}
article {
	float:left;
	padding:1em;
	width:66.66%;
}
footer {
	border: 1px black solid;
	padding: 20px;
}
h1 { 
	color: #FF6347;
	font-family: "Fredericka the Great", serif;
	font-size: 55px;
	text-align: center;
	margin: 0;
}
h3 {
	color: #484848;
	font-family: "Homemade Apple", cursive;
	text-align: center;
	margin-top: -5px;

}
ul {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
li {
	list-style-type: none;
	float: left;
	padding: 25px;
	text-align: center;
	font-size: 16px;
	margin-left: 10px;
	font-family: Verdana, sans-serif;
}
p {
	text-align: left;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#one { 
	background:url();
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:center;
	height: 50vh;
}


#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
.posts {
	float: left;
	padding:1em;
	width: 33.33%;
}
.bio {
	float:left;
	padding: 1em;
	width:33.33%;
}
.blogtext {
	float:left;
	padding:1em;
	width:66.66%;
}

